@model IEnumerable<AirportManagementSystem.Models.Waypoint>

@{
    ViewBag.Title = "ListOfWayPoint";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h2>ListOfWayPoint</h2>

@Html.ActionLink("Create Way Point", "CreateWayPoint","Admin", null, null)
<br/>
<br/>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WaypointId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Altitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altitude)
            </td>
            <td>
                @Html.ActionLink("UpdateWayPoint", "UpdateWayPoint", new { id = item.ID }) |
                @Html.ActionLink("WayPointDetails", "WayPointDetails", new { id = item.ID }) |
                @Html.ActionLink("DeleteWayPoint", "DeleteWayPoint", new { id = item.ID })
            </td>
        </tr>
    }

</table>
