@model AirportManagementSystem.Models.Waypoint

@{
    ViewBag.Title = "WayPointDetails";
}
@{ Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h2>WayPointDetails</h2>

<div>
    <h4>Waypoint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WaypointId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("UpdateWayPoint", "UpdateWayPoint","Admin", new { id = Model.WaypointId }) |*@
    @Html.ActionLink("Back to ListOfWayPoint", "ListOfWayPoint")
</p>
