@model IEnumerable<AirportManagementSystem.Models.FlightPlan>

@{
    ViewBag.Title = "ListOfFlightPlan";
}

@{ Layout = "~/Views/Shared/_PilotLayout.cshtml"; }

<h2>ListOfFlightPlan</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FlightPlanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ETA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlternateAirports)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WayPoint1)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WayPoint2)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DepartureLocation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Destination)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EDA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ETA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AlternateAirports)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WayPoint1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WayPoint2)
    </td>
    
    <td>
        @Html.ActionLink("Update Flight Plan", "UpdateFlightPlan", new { id = item.FlightPlanId }) |
        @Html.ActionLink("Flight Plan Details", "FlightPlanDetails", new { id = item.FlightPlanId }) |
        @Html.ActionLink("Delete Flight Plan", "DeleteFlightPlan", new { id = item.FlightPlanId })
    </td>
</tr>
    }

</table>
